<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<array>
		<dict>
			<key>filter_id</key>
			<string>none</string>
			<key>filter_name</key>
			<string>原图</string>
			<key>filter_class</key>
			<string>GPUImageFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>sketch</string>
			<key>filter_name</key>
			<string>素描</string>
			<key>filter_class</key>
			<string>GPUImageSketchFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>threshold_sketch</string>
			<key>filter_name</key>
			<string>阀值素描</string>
			<key>filter_class</key>
			<string>GPUImageThresholdSketchFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>pixellate</string>
			<key>filter_name</key>
			<string>像素化</string>
			<key>filter_class</key>
			<string>GPUImagePixellateFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>polar_pixellate</string>
			<key>filter_name</key>
			<string>同心圆像素化</string>
			<key>filter_class</key>
			<string>GPUImagePolarPixellateFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>toon</string>
			<key>filter_name</key>
			<string>卡通效果</string>
			<key>filter_class</key>
			<string>GPUImageToonFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>smooth_toon</string>
			<key>filter_name</key>
			<string>细腻卡通效果</string>
			<key>filter_class</key>
			<string>GPUImageSmoothToonFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>crosshatch</string>
			<key>filter_name</key>
			<string>交叉线阴影</string>
			<key>filter_class</key>
			<string>GPUImageCrosshatchFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>color_packing</string>
			<key>filter_name</key>
			<string>色彩丢失</string>
			<key>filter_class</key>
			<string>GPUImageColorPackingFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>vignette</string>
			<key>filter_name</key>
			<string>晕影</string>
			<key>filter_class</key>
			<string>GPUImageVignetteFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>swirl</string>
			<key>filter_name</key>
			<string>漩涡</string>
			<key>filter_class</key>
			<string>GPUImageSwirlFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>bulge_distortion</string>
			<key>filter_name</key>
			<string>鱼眼</string>
			<key>filter_class</key>
			<string>GPUImageBulgeDistortionFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>pinch_distortion</string>
			<key>filter_name</key>
			<string>凹面镜</string>
			<key>filter_class</key>
			<string>GPUImagePinchDistortionFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>stretch_distortion</string>
			<key>filter_name</key>
			<string>哈哈镜</string>
			<key>filter_class</key>
			<string>GPUImageStretchDistortionFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>glass_sphere</string>
			<key>filter_name</key>
			<string>水晶球</string>
			<key>filter_class</key>
			<string>GPUImageGlassSphereFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>sphere_refraction</string>
			<key>filter_name</key>
			<string>球形折射</string>
			<key>filter_class</key>
			<string>GPUImageSphereRefractionFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>posterize</string>
			<key>filter_name</key>
			<string>色调分离</string>
			<key>filter_class</key>
			<string>GPUImagePosterizeFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>cga_colorspace</string>
			<key>filter_name</key>
			<string>CGA色彩</string>
			<key>filter_class</key>
			<string>GPUImageCGAColorspaceFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>emboss</string>
			<key>filter_name</key>
			<string>浮雕效果</string>
			<key>filter_class</key>
			<string>GPUImageEmbossFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>polka_dot</string>
			<key>filter_name</key>
			<string>圆点花样</string>
			<key>filter_class</key>
			<string>GPUImagePolkaDotFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>halftone</string>
			<key>filter_name</key>
			<string>点染</string>
			<key>filter_class</key>
			<string>GPUImageHalftoneFilter</string>
		</dict>
	</array>
</dict>
</plist>
