<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<array>
		<dict>
			<key>filter_id</key>
			<string>split_dynamic</string>
			<key>filter_name</key>
			<string>动态分屏</string>
			<key>filter_class</key>
			<string>SCGPUImageDynamicSplitFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>split_1v3</string>
			<key>filter_name</key>
			<string>1 : 3 分屏</string>
			<key>filter_class</key>
			<string>SCGPUImageSplit1V3Filter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>split_3v2</string>
			<key>filter_name</key>
			<string>3 : 2 分屏</string>
			<key>filter_class</key>
			<string>SCGPUImageSplit3V2Filter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>split_3v3</string>
			<key>filter_name</key>
			<string>3 : 3 分屏</string>
			<key>filter_class</key>
			<string>SCGPUImageSplit3V3Filter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>split_4v4</string>
			<key>filter_name</key>
			<string>4 : 4 分屏</string>
			<key>filter_class</key>
			<string>SCGPUImageSplit4V4Filter</string>
		</dict>
	</array>
</dict>
</plist>
