<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<array>
		<dict>
			<key>filter_id</key>
			<string>scale</string>
			<key>filter_name</key>
			<string>缩放</string>
			<key>filter_class</key>
			<string>SCGPUImageScaleFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>soul_out</string>
			<key>filter_name</key>
			<string>灵魂出窍</string>
			<key>filter_class</key>
			<string>SCGPUImageSoulOutFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>shake</string>
			<key>filter_name</key>
			<string>抖动</string>
			<key>filter_class</key>
			<string>SCGPUImageShakeFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>shine_white</string>
			<key>filter_name</key>
			<string>闪白</string>
			<key>filter_class</key>
			<string>SCGPUImageShineWhiteFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>glitch</string>
			<key>filter_name</key>
			<string>毛刺</string>
			<key>filter_class</key>
			<string>SCGPUImageGlitchFilter</string>
		</dict>
		<dict>
			<key>filter_id</key>
			<string>vertigo</string>
			<key>filter_name</key>
			<string>幻觉</string>
			<key>filter_class</key>
			<string>SCGPUImageVertigoFilter</string>
		</dict>
	</array>
</dict>
</plist>
